@using QuanLyBanHangDienTu.WebApp.Models
@using QuanLyBanHangDienTu.WebApp.Repository
@using QuanLyBanHangDienTu.WebApp.Repository.Validation
@model IEnumerable<SliderModel>

@{
    ViewData["title"] = "Danh Sách Slider";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }
}

<div class="">
    <p><a asp-controller="Slider" asp-action="Add" class="btn btn-warning btn-sm">Thêm Slider</a></p>
    <table class="table table-bordered table-hover" id="myTable">
        <thead>
            <tr>
                <th scope="col" class="text-center" style="vertical-align: middle;">Id</th>
                <th scope="col" class="text-center" style="vertical-align: middle;">Tên Slider</th>
                <th scope="col" class="text-center" style="vertical-align: middle;">Ảnh</th>
                <th scope="col" class="text-center" style="vertical-align: middle;">Mô Tả</th>
                <th scope="col" class="text-center" style="vertical-align: middle;">Trạng Thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="col" class="text-center" style="vertical-align: middle;">@item.Id</td>
                    <td>@item.Name</td>
                    <td><img src="~/media/sliders/@item.Image" width="25%" /></td>
                    <td>@Html.Raw(@item.Description)</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="text text-success">Hiển thị</span>
                        }
                        else
                        {
                            <span class="text text-danger">Ẩn</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Slider" asp-route-Id="@item.Id">Sửa</a>                 
                    </td>
                    <td>
                        <form asp-controller="Slider"
                              asp-action="Delete"
                              asp-route-id="@item.Id"
                              method="post"
                              onsubmit="return confirm('Bạn có chắc chắn muốn xoá bản ghi này?');">

                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm">
                                Xoá
                            </button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <partial name="_Paging" model="@pager" />
</div>